main {
  flex: 1;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;

  h2 {
    @include fluid-text(1.25rem, 2rem);
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
  }

  // #books-container {
  //   @include flex-grid(1rem, flex-start, center);
  //   overflow-x: auto;
  //   scrollbar-width: none;

  //   &::-webkit-scrollbar {
  //     display: none;
  //   }

  //   .book-card {
  //     flex: 1 1 140px;
  //     max-width: 200px;
  //     background-color: #65528b;
  //     border-radius: 12px;
  //     overflow: hidden;
  //     display: flex;
  //     flex-direction: column;
  //     transition: transform 0.2s ease;
  //     cursor: pointer;

  //     &:hover {
  //       transform: scale(1.05);
  //       box-shadow: 0 0 12px #5713eb;
  //     }

  //     .book-image {
  //       width: 100%;
  //       aspect-ratio: 3 / 4;
  //       background-position: center;
  //       background-repeat: no-repeat;
  //       background-size: cover;
  //     }

  //     .book-info {
  //       padding: 0.75rem 1rem;

  //       .book-name {
  //         font-weight: 600;
  //         color: #fff;
  //         @include fluid-text(1rem, 1.2rem);
  //       }

  //       .book-desc {
  //         color: #a392c9;
  //         font-size: 0.9rem;
  //       }
  //     }
  //   }
  // }

  // Responsividad con mixins
  @include respond("md") {
    #books-container {
      gap: 1.5rem;

      .book-card {
        flex: 1 1 180px;
      }
    }
  }

  @include respond("lg") {
    #books-container {
      .book-card {
        flex: 1 1 220px;
      }
    }
  }
}
