.footer {
  padding: 1rem;
  text-align: center;

  .btn {
    display: inline-block;
    background-color: $color-accent;
    color: $color-text;
    text-decoration: none;
    padding: 0.8rem 2rem;
    border-radius: 30px;
    font-weight: bold;
    transition: background 0.3s;

    &:hover {
      background-color: $color-accent;
    }
  }
}
