$breakpoints: (
  "sm": 480px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1280px,
);

@mixin respond($bp) {
  $size: map-get($breakpoints, $bp);

  @if $size {
    @media (min-width: $size) {
      @content;
    }
  } @else {
    @warn "No existe el breakpoint #{$bp}";
  }
}

@mixin flex-grid($gap: 1rem, $align: stretch, $justify: flex-start) {
  display: flex;
  flex-wrap: wrap;
  gap: $gap;
  align-items: $align;
  justify-content: $justify;
}

@mixin fluid-text($min-size, $max-size, $min-vw: 320px, $max-vw: 1280px) {
  font-size: clamp(
    $min-size,
    calc(
      #{$min-size} + (#{$max-size} - #{$min-size}) * ((100vw - #{$min-vw}) /
            (#{$max-vw} - #{$min-vw}))
    ),
    $max-size
  );
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}
